<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=destruction" />
</head>
<body>
    <div class="PageContainer">
        <div class="Fix">
            <h2 class="H2BoxName">{{BoxName}}</h2>
            <mat-card class="IdCard" appearance="outlined">
                <mat-card-content class="IdCardContent">Nr. {{BoxID}}</mat-card-content>
            </mat-card>
        </div>
        <div class="TitleItems">
            <button mat-flat-button color="primary" class="PrintButton">Print QR</button>
        </div>
        <mat-divider class="Divider"></mat-divider>
        <div class="AdditionalItems">
            <span>Destination: {{Location}}</span>
            <span>Fragile: {{Fragile}}</span>
        </div>
        <mat-divider class="Divider"></mat-divider>
        <div class="ItemsList">
            <h3 class="H3Items">Items in box</h3>
            <div class="AllItems">
                @for(item of items();track item){
                    <root_item class="ItemPoints" [itemId]="item.id!"></root_item>
                }
            </div>
        </div>

        

    </div>
</body>