<div class="main">
  <div class="box" *ngIf="box() as box">
    <h2>{{box.name}}</h2>
    <mat-card class="id-card" appearance="outlined">
      <mat-card-content>Nr. {{box.id}}</mat-card-content>
    </mat-card>
  </div>
  <div class="header">
    <button mat-flat-button color="primary" class="print-button">Print QR</button>
  </div>
  <mat-divider></mat-divider>
  <div class="box-properties" *ngIf="box() as box">
    <span class="property">
      <mat-icon>home</mat-icon>
      Destination: {{box.location}}
    </span>
    <span class="property">
      <span class="material-symbols-outlined">destruction</span>
      Fragile: {{box.isFragile ? "yes" : "no"}}
    </span>
  </div>
  <mat-divider></mat-divider>
  <div>
    <h3>Items in box</h3>
    <div class="items">
      @for(item of items();track item){
      <root_item [itemId]="item.id!"></root_item>
      }
    </div>
  </div>
</div>
