<div class="main">
  <div class="box" *ngIf="box() as box">
    <div class="header">
      @if(!isEdit) {
      <h2>{{box.name}}</h2>
      <mat-card class="id-card" appearance="outlined">
        <mat-card-content>Nr. {{box.id}}</mat-card-content>
      </mat-card>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          <span>Back</span>
        </button>
        <button mat-menu-item (click)="startEdit()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      } @else {
      <mat-form-field class="box-name">
        <input matInput [formControl]="nameInput" type="text" />
        <mat-label>Box Name</mat-label>
      </mat-form-field>
      <button mat-icon-button (click)="endEdit()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>
  </div>
  <mat-divider></mat-divider>
  @if (!isEdit) {
  <div class="box-properties" *ngIf="box() as box">
    <span class="property">
      <mat-icon>home</mat-icon>
      Destination: {{box.location}}
    </span>
    <span class="property">
      <span class="material-symbols-outlined">destruction</span>
      Fragile: {{box.isFragile ? "yes" : "no"}}
    </span>
  </div>
  } @else {
  <div class="edit-properties">
    <mat-checkbox [formControl]="fragileInput">Fragile Content</mat-checkbox>
    <mat-form-field>
      <input matInput [formControl]="locationInput" />
      <mat-label>
        <mat-icon>apartment</mat-icon>
        Location
      </mat-label>
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    color="primary"
    class="save-button"
    [disabled]="locationInput.invalid || nameInput.invalid"
    (click)="save()"
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
  }
  <mat-divider></mat-divider>
  <div>
    <h3>Items in box</h3>
    <div class="items">
      @for(item of items();track item){
      <root_item [itemId]="item.id!"></root_item>
      }
    </div>
  </div>
</div>
