.find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.search-appliances {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.fab {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

mat-divider {
  margin-top: -8px;
  margin-bottom: 32px;
}

.entities {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px;
}

.header {
  display: flex;
  margin: 16px;
  button {
    margin-left: auto;
    margin-right: -16px;
  }
}