<h2>Find</h2>
<div class="find">
  <div class="search-appliances">
    <!-- Search Field-->
    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search..." [formControl]="searchTerm" />
    </mat-form-field>
    <!-- Dropdown filter boxes and items-->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select [formControl]="boxesItems" multiple>
        <mat-option [value]="entityEnum.Item">Item</mat-option>
        <mat-option [value]="entityEnum.Box">Box</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-divider class="divider"></mat-divider>
<div class="entities">
  @for(entity of entities(); track entity) { @if (isItem(entity)) {
  <root_item [itemId]="entity.id!"></root_item>
  } }
</div>

<button mat-fab color="accent" (click)="findClicked()">
  <mat-icon>add</mat-icon>
</button>
