<footer>
  <mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/overview" routerLinkActive="active-link">
      <mat-icon fontIcon="view_list"></mat-icon>
    </button>
    <button mat-flat-button routerLink="/create" routerLinkActive="active-link">
      <mat-icon fontIcon="add_circle"></mat-icon>
    </button>
    <button mat-flat-button routerLink="/find" routerLinkActive="active-link">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </mat-toolbar>
</footer>
