<footer>
  <mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/overview" routerLinkActive="active-link">
      <mat-icon fontIcon="view_list"></mat-icon>
      <span>Overview</span>
    </button>
    <button mat-flat-button routerLink="/create" routerLinkActive="active-link">
      <mat-icon fontIcon="add_circle"></mat-icon>
      <span>Create Item</span>
    </button>
    <button mat-flat-button routerLink="/find" routerLinkActive="active-link">
      <mat-icon fontIcon="history"></mat-icon>
      <span>Find Item/Box</span>
    </button>
  </mat-toolbar>
</footer>
