mat-card-title {
  padding: 16px;
  padding-bottom: 0;
  h2 {
    margin-bottom: 8px;
  }
  display: flex;
  justify-content: space-between;
  button {
    margin-top: -8px;
    margin-right: -8px;
  }
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.box {
  display: flex;
  mat-icon {
    margin-right: 8px;
  }
}

.box-name,
.item-name,
mat-option {
  line-break: anywhere;
}
