.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 16px;
  height: 100%;
  gap: 8px;
  .actions {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
    gap: 8px;
  }
  max-height: 80vh;
  overflow: auto;
}

p {
  margin: 0;
}
