.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin: 16px;
}

h2 {
  margin: 16px;
}

.inner-flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  margin: 16px;
  button {
    margin-left: auto;
    margin-right: -16px;
  }
}